{% extends 'base.html.twig' %}

{% block title %} Nouvelle Photos 
{% endblock %}

{% block body %}
<h1 class="row justify-content-md-center m-4">Modification de la photo</h1>
<hr>
  <div class="container">
  {{ form_start(formUpload)}}
    
    <button class="btn btn-primary"> Envoyer </button>
    {{ form_end(formUpload) }}
  </div>
	
{% endblock %}
