{% extends 'base.html.twig' %}

{% block title %} Nouvelle Photos 
{% endblock %}

{% block body %}
	{{ form_start(formUpload)}}
    
    <button class="btn btn-primary"> Envoyer </button>
    {{ form_end(formUpload) }}
{% endblock %}
