{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
    
{% block body %}


 <h1 class="row justify-content-md-center m-4"> Categorie "{{ category.name }}"</h1>
 <hr class="m-4">

<div class="container">
 <div class="row">
    {% for picture in pictures %}
        <div class="col-lg-4">
    <a href="{{ path('picture_by_id', { id: picture.id }) }}"> <img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumb') }}" alt="{{ picture.image }}" class="rounded m-4 animate__animated animate__fadeInDown"/> </a>
  
  
    
   

    
  </div>



    {% endfor %}
  {{ knp_pagination_render(pictures) }}

    </div>
</div>
{% endblock %}