{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<ul class="nav justify-content-center py-4">
		{% for categorie in categories %}
			<li class="nav-item">
				<a class="nav-link btn btn-outline-light m-2" href="{{ path('pictures_by_category', { id: categorie.id }) }}">
					{{ categorie.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
	<div class="container">
		<div class="row">
			{% for picture in pictures %}
				<div class="col-lg-4">
				
					<a href="{{ path('picture_by_id', { id: picture.id }) }}">
						<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumb') }}" alt="{{ picture.image }}" class="rounded m-4 grayscale animate__animated animate__fadeInDown"/>
					</a>
					{# <small>
						{{ picture.tags  }}</small> #}
				
				</div>
			{% endfor %}
			{{ knp_pagination_render(pictures) }}
		</div>
	</div>
{% endblock %}
