{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

	<div class="container">
		<a href="{{ path('home') }}" class="btn btn-outline-primary">
			Retour a l'Acceuil
		</a>
		<div class="row">
			<div class="col m-4">
				<a href="{{ asset('uploads/images/photos/'~ picture.image) }}">
					<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('medium') }}" alt="{{ picture.image }}"/>
				</a>
			</div>
		</div>
        <div class="row">
            <div class="col m-4">
                <p> {{ picture.description }}</p>
            </div>
        </div>
	</div>
	<hr>*


	<div class="container">
		<div class="row">
			<h3>autres photos de la categorie "{{ picture.category.name }}"
			</h3>
			{% for photo in photos %}
				{% if photo.image is not same as(picture.image) %}
				<div class="col">
					<a href="{{ path('picture_by_id', { id: photo.id }) }}">
						<img src="{{ asset('uploads/images/photos/'~ photo.image)|imagine_filter('thumb') }}" alt="{{ photo.image }}"/>
					</a>

				</div>
				{% endif %}


			{% endfor %}
			 {{ knp_pagination_render(photos) }}

		</div>
	</div>

{% endblock %}
