{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}


	<div class="container">
		<h1 class="text-center">Inscription</h1>
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.firstname) }}
		{{ form_row(registrationForm.lastname) }}
		{{ form_row(registrationForm.email) }}
		<div class="row">
			<div class="col">
				{{ form_row(registrationForm.plainPassword.first) }}
			</div>
			<div class="col">
				{{ form_row(registrationForm.plainPassword.second) }}
			</div>


			{{ form_row(registrationForm.agreeTerms) }}
			<div class="d-grid gap-2">
				<button type="submit" class="btn btn-primary btn-lg">Register</button>
			</div>
		</div>
	</div>
	{{ form_end(registrationForm) }}
{% endblock %}
