{% extends 'base.html.twig' %}

{% block title %} editer Photos 
{% endblock %}

{% block body %}
<div class="container">
{{ form_start(formEditPictures)}}
    
    <button class="btn btn-primary"> Envoyer </button>
    {{ form_end(formEditPictures) }}
    
    </div>
	
{% endblock %}
