{% extends 'base.html.twig' %}

{% block title %} Nouvelle Photos 
{% endblock %}

{% block body %}
<div class="container">
{{ form_start(formNewCategory)}}
    
    <button class="btn btn-primary"> Envoyer </button>
    {{ form_end(formNewCategory) }}
    
    </div>
	
{% endblock %}
