{% extends 'base.html.twig' %}

{% block title %}Picture Admin
{% endblock %}
{% block javascripts %}
	{{parent()}}
	<script src="{{asset('js/deleteModal.js')}}" defer></script>
{% endblock %}

{% block body %}
	<h1 class="row justify-content-md-center">
		Gestion des images
	</h1>
  
	<!-- Button trigger modal -->

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel" style="color: black">Suppression de la photo</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p style="color: black">
						etes vous sur de vouloir supprimer la photo
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					<a href="" type="button" class="btn btn-danger" id="delete">Supprimer</a>
				</div>
			</div>
		</div>
	</div>


	{% for message in app.flashes('success') %}
		{{ message }}
	{% endfor %}
	<hr>
	<div class="container">
    <div class="mb-4">
	{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}" class="btn btn-warning"> Gestion des Catégorie </a>
    <a href="{{ path('user') }}" class="btn btn-info">Gestion des utilisateurs </a>
	{% endif %}
    </div>


		<table class="table table-dark">
			<thead>
				<tr>
					<th scope="col">id</th>
					<th scope="col">image</th>
					<th scope="col">Est valider</th>
					<th scope="col">
						Editer</th>
					<th scope="col">
						supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for picture in pictures %}
					<tr>
						<td>
							<p>{{ picture.id }}
							</p>
						</td>
						<td>
							
							<img src="{{ asset('uploads/images/photos/'~ picture.image)|imagine_filter('thumb') }}" alt="{{ picture.image }}" class="rounded m-4 "/>
							</td>
							<td>
							{{ picture.isvalidated ? 'validé' : 'non validé'  }}
						</td>
						<td>
						
							<a href="{{ path('admin_Picture_edit',{ id: picture.id }) }}" class="text-success btn">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewbox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
								</svg>
							</a>
						</td>
						<td>
							<button class="text-danger btn confirm-delete" data-href="{{ path('admin_delete_picture', { id: picture.id }) }}" data-id="{{ picture.id }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewbox="0 0 16 16">
									<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
									<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
								</svg>
							</button>
						</td>
					</tr>
				{% endfor %}

			</tbody>
			{# {{ knp_pagination_render(pictures) }} #}
		</table>
		{{ knp_pagination_render(pictures) }}
	</div>


{% endblock %}
