<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            {#{{ encore_entry_link_tags('app') }}#}
          <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>


  <link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap" rel="stylesheet"> 
<style>
 body {
	background: linear-gradient(-45deg, #000000, #50386b, #2f304d, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  img 
  {
  box-shadow: 0px 1px 26px -1px rgba(0,0,0,0.86);
-webkit-box-shadow: 0px 1px 26px -1px rgba(0,0,0,0.86);
-moz-box-shadow: 0px 1px 26px -1px rgba(0,0,0,0.86);
-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  margin: 20px;
  }
  img:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
  }
  h1, h3, p, label, legend {
    color: white
  }
  input 
  {
    color: white
  }
</style>
             
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
    <body>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home') }}">Look Image</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <a class="nav-link active" aria-current="page" href="{{path('home')}}">Acceuil</a>
        {% if (app.user is null) %}
        <a class="nav-link" href="{{ path('app_register') }}">inscription</a>
        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>

        {% else %}
        {% if is_granted('ROLE_ADMIN') %}

    {# Ici le contenu réservé aux utilisateurs connectés #}
         <a href="{{ path('admin') }}" class="nav-link">Admin </a>
        {% elseif is_granted('ROLE_EDITOR') %}
        <a href="{{ path('Picture_admin') }}" class="nav-link">Admin </a>

        {% endif %}
        <a href="{{ path('account') }}" class="nav-link"> bonjour {{ app.user.firstname }} </a>
        <a class="nav-link text-danger" href="{{ path('app_logout') }}">Deconnexion</a>
        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>
   
        {% block body %}{% endblock %}
    </body>
</html>
