{% extends 'base.html.twig' %}

{% block title %} editer utilisateur 
{% endblock %}

{% block body %}
<div class="container">
{{ form_start(formEditUser)}}
    
    <button class="btn btn-primary"> Envoyer </button>
    
{{ form_end(formEditUser) }}
    
    </div>
	
{% endblock %}
