{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}
{% block javascripts %}
{{parent()}}
	<script src="{{asset('js/deleteModal.js')}}" defer></script>
{% endblock %}

{% block body %}
<h1 class="row justify-content-md-center">
		Gestion des Utilisateurs
	</h1>
<div class="container">
<div class="mb-4">
    <a href="{{ path('Picture_admin') }}" class="btn btn-warning"> Gestion des photos </a>
    <a href="{{ path('admin') }}" class="btn btn-success"> Gestion des Categories </a>
</div>
	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: black">Suppression de l'utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color: black">
			etes vous sur de vouloir supprimer l'utilisateur 
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <a href="" type="button" class="btn btn-danger"  id="delete">Supprimer</a>
      </div>
    </div>
  </div>
</div>

	<table class="table table-dark">
		<thead>
			<tr>
				<th scope="col">id</th>
				<th scope="col">Prenom</th>
                <th scope="col"> Nom</th>
                <th scope="col"> Role</th>
                <th scope="col"> Email</th>
                <th scope="col"> Verifier</th>
                <th scope="col"> Editer</th>
                <th scope="col"> Supprimer</th>
			</tr>
		</thead>
		<tbody>
        {% for user in users %}
            <tr>
                <td>
                    <p>{{ user.id }} </p>
                </td>
            
           
                <td>
                    <p>{{ user.firstname }} </p>
                </td>
           
                <td>
                    <p>{{ user.lastname }} </p>
                </td>
            
                <td>
                     {% for role in user.roles %}
                            {% if role == "ROLE_USER" %}
                                Utilisateur
                            {% elseif role == "ROLE_EDITOR" %}
                                Editeur
                            {% elseif role == "ROLE_ADMIN" %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                        {# <label for=""> Passer Administrateur </label>
                        <input type="checkbox"> #}
                </td>
           
                <td>
                    <p>{{ user.email }} </p>
                </td>
            
                <td>
                {% if  user.isVerified  == 1 %}
                    <p> utilisateur verifie </p>
                {% else  %}
                    <p> utilisateur non verifier </p>
                {% endif %} 
                </td>
                <td>
                    <a href="{{ path('user_edit', { id: user.id }) }}" class="text-success">editer </a>
                </td>
                <td> <button  class="text-danger btn confirm-delete" data-href="{{ path('user_delete', { id: user.id }) }}" data-id="{{ user.id }}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
</svg></button> </td>
            </tr>
        {% endfor %}
		</tbody>
        {# {{ knp_pagination_render(pictures) }} #}
	</table>
    </div>
{% endblock %}
